.contact-section1 {
  grid-area: left;
}
.contact-title {
  width: fit-content;
  height: auto;
  margin: 2em auto;
  font-size: calc(1.8em + 1vw);
  font-style: italic;
  @media (min-width: 900px) {
    margin: 0.5em auto;
  }
}
.contact-info {
  font-style: italic;
  h1 {
    color: rgb(255, 238, 4);
  }
  a {
    color: white;
  }

  h4 {
    margin: 2em 0 0.5em 0;
    color: white;
  }
}
.email-and-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  height: auto;
  font-size: calc(0.9em + 1vw);
}
.contact-phone {
  a {
    color: rgb(115, 158, 109);
  }
}
.icons-section {
  width: 320px;
  margin: 4em auto;
}
.icon-names {
  width: 320px;
  margin: 0 auto;
  background-color: $contact-base;
  display: flex;
  a {
    margin-left: 2em;
    font-size: 0.8em;
    color: white;
  }
}
