@import "./header";
@import "./_sectionOne";
@import "./sectionTwo";
@import "./_messageOne";
@import "./_messageTwo";
@import "./_messageThree";
@import "./footer";

.contact-box { 
  background-color: $contact-base;
  @media only screen and (min-width: 900px) {
    display: grid; 
    grid-template-rows: 70px auto 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "left   right"
      "footer footer";
  }
  @media (max-width: 899px) {
    display: grid;
    grid-template-rows: 70px auto auto 90px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "left"
      "right"
      "footer";
  }
}
