.blog-section1 {
        //  border: 1px solid black;
        grid-area: side1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: fit-content;

        div {
            margin: 0 auto;
            max-width: 90%;
            height: auto;
        }

        img {
            max-width: 100%;
            height: auto;
    
        }

        h1 {
            color: rgb(59, 4, 4);
            margin: 0.9em auto;
        }
    }