 .blog-grid {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "side1"
            "side2";

        @media (min-width: 800px) {

           
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "side1 side2"
        }

          @media (max-width: 768px) {
              padding-top: 40px;
          }
    }