header {
  height: 70px;
  background-color: $transparent;
  .about-links {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2em;
  }
  a {
    text-decoration: none;
    font-family: literata;
    color: $DARK-GY;
  }
  #about-logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
  }
  @media (max-width: 450px) {
    .about-links {
      height: 100px;

      a {
        margin: 0px;
        padding: 5px;
      }
    }
  }
}
