header {
  height: 100px;
  background-color: rgb(255, 253, 253);
  .about-links {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 2em;
  }
  a {
    padding: 2em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(134, 0, 0);
  }
  #about-logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
  }
  @media (max-width: 450px) {
    .about-links {
      height: 100px;

      a {
        margin: 0px;
        padding: 5px;
      }
    }
  }
}
