$wt: #fff;
$bk: #000;
$gn: #00ffbf;
$DARK-GY: rgb(80, 80, 80);
$XDARK-GY: rgb(58, 58, 58);
$LIGHT-GY:rgb(177, 177, 177);
$GY: rgb(97, 96, 96);
$OR: rgb(255, 126, 6);
$LT-GY: rgb(202, 202, 202);
$GD: rgb(184, 134, 11);
$GOLDEN: rgb(218, 165, 32);
$GN: rgb(21, 233, 183);
$LT-BL: #0099ff;
$RD: rgb(255, 0, 0);
$BW: rgb(146, 45, 5);
